<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employee Manager</title>
    
 <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body style="background-color: #DCDCDC;">
 
 <div class="container">   

<div class="row" style="padding-bottom:30px;text-align: center;">
    <div class="col-sm-1">
        <a href="/"><img src="http://www.pngall.com/wp-content/uploads/2016/05/Avocado-PNG-Image.png" style="width: 220%"></a>
    </div>
    <div class="col-sm-10" style="font-size: 22px; margin-top: 2%;">
 <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/employee/list">Mitarbeiter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/stakeholder/list">Stakeholder</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/department/list">Department</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/projectTeam/list">Projektteam</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/budget/list">Budget</a>
  </li>
</ul>
    </div>
    <div class="col-sm-1"></div>
</div>


<!-- Start Projektmitarbeiter -->
<div id="pma">
<div class="row">
        <div class="col-sm-12">
            <header>
            <h1>Projektmitarbeiter</h1>
            </header>
        </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <h5>ID</h5>
    </div>
    <div class="col-sm-2">
        <h5>Vorname</h5>
    </div>
    <div class="col-sm-2">
        <h5>Nachname</h5>
    </div>
    <div class="col-sm-2">
        <h5>Rolle</h5>
    </div>
    <div class="col-sm-2">
        <h5>Department</h5>
    </div>
    <div class="col-sm-2">
        <a style="margin-bottom: 3px;" class="btn btn-primary btn-sm" href="/employee">neuen Mitarbeiter erstellen</a>
    </div>
    <br>
</div>

<div class="result">
    <div class="row" th:each="employee : ${listEmployee}">
            <div class="col-sm-2">
                <span th:text="${employee.getEmpId()}"></span>
            </div>
            <div class="col-sm-2">
                <span th:text="${employee.getPrename()}"></span>
            </div>
            <div class="col-sm-2">
                <span th:text="${employee.getLastname()}"></span>
            </div>
            <div class="col-sm-2">
                <span th:text="${employee.getEmpRole()}"></span>
            </div>
             <div class="col-sm-2">
                <span th:text="${employee.getDepIdFk()}"></span>
            </div>
            <div class="col-sm-1">
                <a style="margin-bottom: 3px;" href="" th:href="${'/employee?empId=' + employee.getEmpId()}"><span class="glyphicon glyphicon-edit"></span></a>
            </div>
            <br>
            <div class="col-sm-1">
                <a style="margin-bottom: 3px;" href="" th:href="${'/employee/delete?empId=' + employee.getEmpId()}"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
    </div>
</div>  <!-- End Result DIV -->
</div>

<!-- End Projektmitarbeiter -->


</div> <!-- End Container Class -->

</body>

</html>