<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mitarbeiter Informationen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color: #DCDCDC;">
<div class="container">

    <div class="row">
            <div class="col-sm-1">
        <a href="/"><img src="http://www.pngall.com/wp-content/uploads/2016/05/Avocado-PNG-Image.png" style="width: 220%"></a>
    </div>
        <div class="col-sm-11" style="text-align: center;">
            <h1>Mitarbeiter Informationen</h1>
        </div>
    </div>
    <br>
    <br>
    <br>
    <form action="#" th:action="${postAction}" method="post" th:object="${employeeDetail}" style="text-align: center;">
    
        <input type="hidden" name="employeeDetail.empId" th:value="*{empId}" />
        <label>Vorname:</label> <input type="text" class="form-control" name="employeeDetail.prename" th:value="*{prename}" /> 
        <label>Nachname:</label> <input type="text" class="form-control" name="employeeDetail.lastname" th:value="*{lastname}" />
        <label>Rolle:</label> <input type="text" class="form-control" name="employeeDetail.empRole" th:value="*{empRole}" />
        <label>Department:</label>
        <select name="employeeDetail.depIdFk">  
                <option th:each="department : ${departments}" th:value="${department.getDepId()}" th:text="${department.getDepName()}"></option>
        </select>
        <br>
        <div class="row">
            <div class="col-sm-1">
                <a class="btn btn-primary" href="/employee/list" role="button">Zurück</a>
            </div>
            <div class="col-sm-10">
            </div>
            <div class="col-sm-1">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </div>
    </form> 


    



</div> <!-- Container Ende -->
</body>
</html>