<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Projekt Informationen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color: #DCDCDC;">
    <div class="container">

    <div class="row">
            <div class="col-sm-1">
        <a href="/"><img src="http://www.pngall.com/wp-content/uploads/2016/05/Avocado-PNG-Image.png" style="width: 220%"></a>
    </div>
        <div class="col-sm-11" style="text-align: center;">
            <h1>Projekt Informationen</h1>
        </div>
    </div>
    <br>
    <br>
    <br>
    <form action="#" th:action="${postAction}" method="post" th:object="${projectDetail}">
       
        <input type="hidden" name="projectDetail.proId" th:value="*{proId}" />
        <label>Projektname:</label> <input type="text" class="form-control" name="projectDetail.projectname" th:value="*{projectname}" />
        <label>Beschreibung:</label> <input type="text" class="form-control" name="projectDetail.description" th:value="*{description}" />
        <label>Department:</label>
        <select name="projectDetail.depIdFk">   
                <option th:each="department : ${departments}" th:value="${department.getDepId()}" th:text="${department.getDepName()}"></option>
         </select>     
        <label>Projektleiter:</label>
         <select name="projectDetail.empIdFk">  
                <option th:each="employee : ${employees}" th:value="${employee.getEmpId()}" th:text="${employee.getPrename()}"></option>
         </select>     
        
        <br>
        <div class="row">
            <div class="col-sm-1">
                <a class="btn btn-primary" href="/" role="button">Zurück</a>
            </div>
            <div class="col-sm-10">
            </div>
            <div class="col-sm-1">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </div>
    </form>

</div> <!-- Container Ende -->
</body>

</html>





